Django
tzdata
psycopg2-binary
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-wsgi
opentelemetry-sdk
openfga_sdk
